<div class="button-añadir">
  <a><button (click)="openModalCreate1()">Añadir1</button></a>
</div>


<div class="slider" class="card-training-program">
  <div class="training-program" *ngFor="let grupo of grupos">
      <div class="active-tokens">
          <p>{{ grupo.tipo_grupo?.nombreTipoGrupo }}</p>
          <p>{{grupo.nombre}}</p>
      </div>
      <div class="description">
          <p>Información</p>
          <!-- <p>ID {{grupo.id}}</p> -->
          <p>Fecha inicial: {{grupo.fechaInicialGrupo}}</p>
          <p>Fecha final: {{grupo.fechaFinalGrupo}}</p>
      </div>
      <div class="actions">
          <button (click)="openModalUpdate1(grupo)"><img src="../../../assets/icons/reload.svg"></button>
          <button (click)="deleteGrupo(grupo.id ? grupo.id : 0)"><img src="../../../assets/icons/delete.svg"></button>
      </div>
  </div>
</div>
